#header.active.jsmodule(data-classname = "Header")
    #title.title
    #titleWhite.title
    #share
        .sharebut.instagram
        .sharebut.facebook
    #menu.jsmodule(data-classname = "Menu")
        .hamburger
        .pattern
            .inner
        ul#buts
            li #[a.but( href = 'index', data-color = "#6cc1d7", data-bg = "#ffef00" ) Home]
            li #[a.but( href = 'modular-system', data-color = "#ffef00", data-bg = "#e44129" ) Modular System]
            li #[a.but( href = 'simulator', data-color = "#6cc1d7", data-bg = "#088f51" ) Simulator]
            li #[a.but( href = 'collection', data-color = "#e44129", data-bg = "#eea904" ) Collection]