.collection
    .inner
        &>.nav
            text-align center
            width 100%
            margin-bottom 50px
            .menu
                list-style none
                display inline-block
                padding 0
                margin 0
                li
                    float left
                    margin 0px 18px
                    a
                        text-decoration none
                        color #000000
                        font-size 32px
                        &:hover
                            text-decoration underline
            
    .collection
        margin-bottom 80px
        .title
            font-family indiana
            text-align center
            font-size 80px