html
    width 100%
    height 100%
    padding 0
    margin 0
body
    width 100%
    min-height 100%
    height 100%
    padding 0
    margin 0
    font-family dia

p
    font-size 28px
    line-height 30px

#wraper
    position relative
    &.about
        background redColor
    &.press
        background greenColor
    &.privacy
        background blueColor
    &.terms
        background yellowColor
    &.cookies
        background burntColor
    &.withTitle
        padding-top 70px
    .section
        position relative
        .inner
            position relative
            width 860px
            padding 120px 0 100px
            margin 0px auto
        &> .title
            text-align center
            font-size 28px
            position relative
            top 75px

img.leftCol
    width calc( 50% - 10px )
    margin-right 20px

img.rightCol
    width calc( 50% - 10px )

.imgContainer
    margin-bottom 20px

.imgContainer.center
    text-align center

.imgContainer.left
    text-align left
    img
        width calc( 50% - 10px )

.imgContainer.left ~ .imgContainer.right
    position relative
    top -190px

.imgContainer.right ~ .imgContainer.left
    position relative
    top -190px

.imgContainer.right
    text-align right
    img
        width calc( 50% - 10px )

.modal
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background rgba( 255, 255, 255, 0.9 )
    .title
        margin 145px auto 0
        width 990px
        text-align center
        font-size 28px
    .inner
        width 990px
        margin 0 auto

.clearfix
    overflow auto

.clearfix::after
    content ""
    clear both
    display table

.carousel
    position relative
    margin 20px auto
    width 861px
    height 572px
    &> img
        display none
    &> .nav
        position absolute
        top 50%
        transform translateY(-50%)
        width 70px
        height 70px
        z-index 10
        &.left 
            left -150px
            background url('../assets/leftArrow.svg') no-repeat center center
        &.right 
            right -150px
            background url('../assets/rightArrow.svg') no-repeat center center
    .outer
        width 100%
        height calc( 100% - 40px )
        position relative
        overflow hidden
        .slider
            width 1000vw
            height 100%
            transition transform 0.5s
            transition-timing-function cubic-bezier(0.165, 0.840, 0.440, 1.000)
            .img
                float left
                height 572px
                width 861px
                background-repeat no-repeat
                background-size cover
                background-position center center

@media only screen and (min-width: 768px) and (max-width: 1280px)
    .carousel
        width 500px
        height 332px
        &> .nav
            width 50px
            height 50px
            &.left 
                left -100px
            &.right 
                right -100px
        .outer
            .slider
                .img
                    width 500px
                    height 332px
                
    #wraper
        .section
            .inner
                width 760px

@media only screen and (max-width: 768px)
    #simBut
        display none
    #wraper
        &.withTitle
            padding-top 70px
        .section
            .inner
                width 100vw
                padding 60px 0 50px
                margin 0px auto
            &> .title
                text-align center
                font-size 28px
                position relative
                top 35px
    p
        font-size 19px
        line-height 22px
    
    .carousel
        width 100vw
        height 100vw
        &> .nav
            width 30px
            height 30px
            &.left 
                left 10px
            &.right 
                right 10px
        .outer
            .slider
                .img
                    width 100vw
                    height 100vw
    img.leftCol
        width 100%

    img.rightCol
        width 100%

    .imgContainer
        margin-bottom 20px

    .imgContainer.center
        text-align center

    .imgContainer.left
        text-align left
        img
            width 100%

    .imgContainer.left ~ .imgContainer.right
        position relative
        top 0

    .imgContainer.right ~ .imgContainer.left
        position relative
        top 0px

    .imgContainer.right
        text-align right
        img
            width 100%