html
    width 100%
    height 100%
    padding 0
    margin 0
body
    width 100%
    min-height 100%
    height 100%
    padding 0
    margin 0
    font-family dia

p
    font-size 28px
    line-height 30px
#wraper
    position relative
    &.withTitle
        padding-top 70px
    .section
        position relative
        .inner
            position relative
            width 860px
            padding 120px 0 100px
            margin 0px auto
        &> .title
            text-align center
            font-size 28px
            position relative
            top 75px

img.leftCol
    width calc( 50% - 10px )
    margin-right 20px

img.rightCol
    width calc( 50% - 10px )

.imgContainer
    margin-bottom 20px

.imgContainer.center
    text-align center

.imgContainer.left
    text-align left
    img
        width 410px

.imgContainer.left ~ .imgContainer.right
    position relative
    top -190px

.imgContainer.right ~ .imgContainer.left
    position relative
    top -190px

.imgContainer.right
    text-align right
    img
        width 410px



.clearfix
    overflow auto

.clearfix::after
    content ""
    clear both
    display table

.carousel
    position relative
    margin 20px auto
    width 860px
    height 535px
    &> img
        display none
    &> .nav
        position absolute
        top 50%
        transform translateY(-50%)
        width 70px
        height 70px
        z-index 10
        &.left 
            left -150px
            background url('../assets/leftArrow.svg') no-repeat center center
        &.right 
            right -150px
            background url('../assets/rightArrow.svg') no-repeat center center
    .outer
        width 100%
        height calc( 100% - 40px )
        position relative
        overflow hidden
        .slider
            width 1000vw
            height 100%
            transition transform 0.5s
            transition-timing-function cubic-bezier(0.165, 0.840, 0.440, 1.000)
            .img
                float left
                height 535px
                width 860px
                background-repeat no-repeat
                background-size cover