.home
    #home-home
        background blueColor
    #home-evolving
        background white
        text-align center
        font-family indiana
        font-size 107px
        line-height 90px
        letter-spacing -4px
        .inner
            width 1010px
        .greenColor
            color greenColor
        .blueColor
            color blueColor
        .redColor
            color redColor
    #home-modular
        background yellowColor
        .inner
            width 1160px
            .body
                float left
                width 560px
                p
                    margin-top 0
            .image
                float right
                height 388px
                background url('../assets/new/Sideboard-B-4.2-P--FB.jpg') center center
                background-size cover
                margin-bottom 60px
                width 560px
    #home-collections
        background white
    #home-simulator
        background greenColor
        .inner
            padding 0
            height 100vh
        .body
            position absolute
            width 100%
            top 50%
            transform translateY(-50%)
            color yellowColor
            text-align center
            font-family indiana
            font-size 107px
            letter-spacing -5px