.home
    #home-home
        background blueColor
    #home-evolving
        background white
        text-align center
        font-family indiana
        font-size 130px
        line-height 120px
        letter-spacing -8px
        .inner
            width 88%
        .greenColor
            color greenColor
        .blueColor
            color blueColor
        .redColor
            color redColor
    #home-modular
        background yellowColor
        .body
            font-size 18px
            line-height 22px
            p
                margin-top 0
        .image
            height 450px
            background url('../assets/modularSystems.jpg') center center
            background-size cover
            margin-bottom 60px
    #home-collections
        background white
    #home-simulator
        background greenColor
        .inner
            padding 0
            height 100vh
        .body
            position absolute
            width 100%
            top 50%
            transform translateY(-50%)
            color yellowColor
            text-align center
            font-family indiana
            font-size 127px
            letter-spacing -5px