.home
    #home-home
        background blueColor
    #home-evolving
        padding 100px 0
        background white
        text-align center
        font-family indiana
        font-size 127px
        line-height 120px
        letter-spacing -5px
        .greenColor
            color greenColor
        .blueColor
            color blueColor
        .redColor
            color redColor
    #home-modular
        background yellowColor
    #home-collections
        background white
    #home-simulator
        background greenColor