@font-face
    font-family dia
    src url('../assets/dia-regular.ttf')

@font-face
    font-family indiana
    src url('../assets/indiana.otf')

blueColor = #6cc1d7
greenColor = #088f51
redColor = #e44129
yellowColor = #ffef00
burntColor = #eea904

@import "common"
@import "header"
@import "home"
@import "modular-system"
@import "simulator"
@import "collection"
@import "footer"