@font-face
    font-family dia
    src url('../assets/dia-regular.ttf')

@font-face
    font-family indiana
    src url('../assets/indiana.otf')

yellowColor = #feee00
blueColor = #8bc0d6
greenColor = #4a8e55
redColor = #c6492e

html
    height 100%
    padding 0
    margin 0
body
    min-height 100%
    height 100%
    padding 0
    margin 0
    font-family dia

#wrapper
    z-index 0
    height 100%
    .section
        position relative
        &#home
            background blueColor
            height 100%
        &#about
            background #ffffff
        &#modularSystems
            background yellowColor
        &#footer
            color #ffffff
            min-height auto
            background #000000

#home
    #three
        position absolute
        top 0
        left 0
        width 100%
        height 100%
    
#about
    text-align center
    font-family indiana
    font-size 127px
    line-height 120px
    letter-spacing -5px
    .inner
        .body
            width 1490px
            margin 100px auto
            .greenColor
                color greenColor
            .blueColor
                color blueColor
            .redColor
                color redColor

#modularSystems
    position relative
    .inner
        padding 60px 0
        margin 0 auto
        width 1340px
        .title
            text-align center
            font-size 32px
            margin-bottom 50px
        .body
            float left
            font-size 30px
            line-height 35px
            width 660px
            p
                margin-top 0
        .image
            width 660px
            float right
            height 450px
            background url('../assets/modularSystems.jpg') center center
            background-size cover

#footer
    .inner
        width 1340px
        font-size 25px
        margin 0 auto
        padding 60px 0
        .col
            float left
            &.information
                margin-right 50px
            .topLevel
                margin-bottom 30px
            ul
                margin 0
                padding 0
                list-style-type none
                li
                    a
                        text-decoration none
                        color #ffffff
                        line-height 0
                        &:hover
                            text-decoration underline
            &.newsletter
                float right
                width 403px
                margin-right 85px
                .topLevel
                    margin-bottom 10px
                .inputField
                    input
                        height 40px
                        padding 2px 0px 2px 9px
                        width calc( 100% - 22px )
                        background none
                        border solid 1px
                        color #ffffff
                        margin-bottom 14px
                        font-size 25px
                        &::placeholder
                            color #ffffff
                        &:focus
                            outline none
                            background #222222
                #terms
                    a
                        color #ffffff
                    .checkbox
                        float left
                        width 40px
                        height 40px
                        border solid 1px #ffffff
                        margin-right 14px
                        cursor pointer
                        position relative
                        &:hover
                            background #222222
                        &.active
                            .line
                                display block
                        .line
                            display none
                            width 60px
                            height 0px
                            border-bottom 1px solid #ffffff
                            transform rotate(45deg)
                            transform-origin 0 0
                            position absolute
                            top 0
                            left 0
                            &.line2
                                transform rotate(-45deg)
                                transform-origin 0 0
                                // transform-origin 100% 0
                                top 40px
                                left -1px
                    .terms
                        position relative
                        top 5px
                .sendBut
                    width calc( 100% - 22px )
                    border solid 1px #ffffff
                    background #ffffff
                    color #000000
                    text-align center
                    margin-top 20px
                    padding 6px 0px 6px 9px
                    cursor pointer
                    &:hover
                        background #000000
                        color #ffffff
                        animation blinkBut 0.4s linear infinite

#header
    position fixed
    width 100%
    top 20px
    opacity 0
    transition opacity 0.4s
    &.active
        opacity 1
    .title
        transform-origin 50% 0
        width 448px
        height 115px
        background url('../assets/logo.svg') 100% 100% no-repeat
        background-position center center
        background-size contain
        margin 0px auto
        &#titleWhite
            background url('../assets/logo_white.svg') 100% 100% no-repeat
            display none
        
    #share
        position absolute
        top 0px
        right 20px
        .sharebut
            width 20px
            height 20px
            margin-bottom 10px
            background-position center center
            background-size contain
            &.instagram
                background url('../assets/ig.svg') 100% 100% no-repeat
            &.facebook
                background url('../assets/fb.svg') 100% 100% no-repeat
#menu
    font-size 14px
    width 100%
    height 100%
    pointer-events none
    position fixed
    top 0px
    left 0px
    z-index 1
    .hamburger
        pointer-events auto
        z-index 100
        display none
        position absolute
        top 20px
        right 20px
        width 20px
        height 20px
        background url('../assets/hamburger.svg') 100% 100% no-repeat
    &.modularsystems
        background blueColor
        color greenColor
    &.aboutus
        background blueColor
        color yellowColor
    .pattern
        width 100%
        height 100%
        font-family indiana
        font-size 90px
        line-height 76px
        position fixed
        z-index 0
        transform rotate(-8deg)
        .inner
            .line
                position relative
                width 10000px
    #buts
        position relative
        z-index 1
        list-style-type none
        margin 0
        padding 0
        margin-top 20px
        margin-left 20px
        li
            a
                color #000000
                font-size 17px
                text-decoration none
                pointer-events auto

#modal
    z-index 2
    position fixed
    opacity 0
    top 100%
    left 0
    width 100%
    height 100%
    background rgba( 0, 0, 0, 0.87 )
    color #ffffff
    &.active
        opacity 1
        top 0
    .close
        position absolute
        right 30px
        top 30px
        width 30px
        height 30px
        background url('../assets/close.svg') 100% 100% no-repeat
        background-position center center
        background-size contain
        cursor pointer
        &:hover
            animation blinker 0.4s linear infinite
    .inner
        padding-top 120px
        width 50%
        margin 0 auto
        .title
            font-size 24px
            text-align center
        .content
            font-size 14px

.clearfix
    overflow auto

.clearfix::after
    content ""
    clear both
    display table


@keyframes blinkBut
    0%
        background #ffffff
        color #000000
    49%
        background #ffffff
        color #000000
    50%
        background #000000
        color #ffffff
    100%
        background #000000
        color #ffffff

@keyframes blinker
    0%
        opacity 1
    49%
        opacity 0
    50%
        opacity 1
    100%
        opacity 0


@media only screen and (max-width: 768px)
    body.menuMobile
        #header
            opacity 1
            pointer-events none
            z-index 100
            #title
                display none
            #titleWhite
                display block
    #menu
        .hamburger
            display block
        ul
            display none
            top 50px
        &.active
            background #000000
            .hamburger
                background url('../assets/closeMenu.svg') 100% 100% no-repeat
            #buts
                display block
                li
                    a
                        color #ffffff
    #header
        top 0
        .title
            margin 20px
            width 154px
            height 37px
            transform-origin 0 0
            transform scale( 1, 1 ) !important
        #share
            display none
            position absolute
            top 20px
            right 20px
            .sharebut
                width 16px
                height 16px
                margin-bottom 8px
    #about
        font-size 29px
        line-height 27px
        letter-spacing 0px
        .inner
            .body
                width 318px
                padding 30px 0
                margin 0 auto
    
    #modularSystems
        .inner
            width 318px
            position relative
            transform none
            left 0
            top 0
            padding 30px 0
            .title
                font-size 24px
                margin-bottom 24px
            .body
                float none
                font-size 16px
                line-height 20px
                width 100%
                p
                    margin-top 22px 
            .image
                float none
                width 100%
                height 205px

    
    #footer
        .inner
            width 80%
            font-size 14px
            padding 50px 0
            .col
                // float left
                // &.information
                //     margin-right 60px
                .topLevel
                    margin-bottom 9px
                // ul
                //     margin 0
                //     padding 0
                &.newsletter
                    clear both
                    float none
                    width 100%
                    padding-top 30px
                    .topLevel
                        margin-bottom 11px
                    .inputField
                        input
                            height 30px
                            padding 1px 0px 1px 7px
                            font-size 14px
                    #terms
                        .checkbox
                            width 30px
                            height 30px
                            margin-right 7px
                            .line
                                width 60px
                                top 0
                                left 0
                                &.line2
                                    top 40px
                                    left -1px
                        .terms
                            top 8px
                    .sendBut
                        width calc( 100% - 22px )
                        margin-top 20px
                        padding 6px 0px 6px 9px

@media only screen and (min-width: 768px) and (max-width: 1280px)
    #header
        #title
            width 280px
            height 67px
        #share
            position absolute
            top 0px
            right 20px
            .sharebut
                width 16px
                height 16px
                margin-bottom 8px
    
    #menu
        #buts
            li
                a
                    font-size 14px

    #about
        font-size 58px
        line-height 55px
        letter-spacing -3px
        .inner
            .body
                width 600px
    #modularSystems
        .inner
            width 708px
            padding 50px 0
            .title
                font-size 28px
                margin-bottom 34px
            .body
                float none
                font-size 25px
                line-height 28px
                p
                    margin-top 0
            .image
                float none
                width 708px
                height 493px
                margin-bottom 32px

    #footer
        .inner
            width 722px
            font-size 18px
            .col
                float left
                &.information
                    margin-right 60px
                &.newsletter
                    margin-right 0 
                    width 340px
                    .topLevel
                        margin-bottom 10px
                    .inputField
                        input
                            font-size 18px
                            padding 1px 0px 1px 9px
                    #terms
                        .terms
                            top 7px

@media only screen and (min-width: 1280px) and (max-width: 1600px)
    #about
        font-size 115px
        line-height 98px
        letter-spacing -3px
        .inner
            .body
                width 1220px

    
    #modularSystems
        .inner
            padding 56px 0
            width 725px
            .title
                font-size 30px
                margin-bottom 55px
            .body
                float none
                font-size 30px
                line-height 35px
                width 100%
                margin-top 50px
                p
                    margin-top 0
            .image
                float none
                width 100%
                height 490px
    
    #footer
        .inner
            width 1106px
            font-size 23px
            .col
                float left
                &.information
                    margin-right 60px
                &.newsletter
                    margin-right 0
                    .topLevel
                        margin-bottom 10px
                    .inputField
                        input
                            font-size 23px
                    #terms
                        .terms
                            top 7px