.modular-system
    #modular-intro
        background white
        .inner
            padding-bottom 0px
            width 1160px
            .body
                float left
                width 560px
                p
                    margin-top 0
            .image
                float right
                height 388px
                background url('../assets/new/Sideboard-B-4.2-P--FB.jpg') center center
                background-size cover
                margin-bottom 60px
                width 560px
    #modular-transform
        background white
        .inner
            width 1280px
            .grid
                .block:nth-child(odd)
                    .imgContainer
                        background-color blueColor
                .block:nth-child(even)
                    .imgContainer
                        background-color greenColor
                .block:nth-child(3n)
                    .imgContainer
                        background-color redColor
                .block:nth-child(4n)
                    .imgContainer
                        background-color yellowColor
                .block:nth-child(5n)
                    .imgContainer
                        background-color burntColor
                .block:nth-child(6n)
                    .imgContainer
                        background-color greenColor
                .block:nth-child(7n)
                    .imgContainer
                        background-color greenColor
                .block:nth-child(8n)
                    .imgContainer
                        background-color redColor
                .block
                    position relative
                    width 296px
                    margin-right 26px
                    float left
                    &:nth-child(4n+4)
                        margin-right 0px
                    .imgContainer
                        font-size 20px
                        position relative
                        width 100%
                        height 202px
                        background-repeat no-repeat
                        background-size cover
                        background-position center center
                        &:hover
                            background-image none !important
                            .count
                                display block
                    .count
                        position relative
                        top 50%
                        transform translateY(-50%)
                        text-align center
                        display none
                    .legend
                        font-size 26px
                        margin-top 10px
                        text-align center
    #modular-simulator
        background greenColor
        cursor pointer
        &:hover
            background yellowColor
            .body
                color greenColor
        .inner
            padding 0
            height 100vh
        .body
            position absolute
            width 100%
            top 50%
            transform translateY(-50%)
            color yellowColor
            text-align center
            font-family indiana
            font-size 107px
            letter-spacing -5px


@media only screen and (min-width: 768px) and (max-width: 1280px)
    .modular-system
        #modular-intro
            .inner
                width 708px
                .body
                    float none
                    width 100%
                .image
                    float none
                    height auto
                    margin-bottom 50px
                    width 100%
                    height 490px
        #modular-transform
            .inner
                width 768px
                .grid
                    .block
                        width 240px
                        margin-right 24px
                        &:nth-child(4n+4)
                            margin-right 24px
                        &:nth-child(3n+3)
                            margin-right 0px

@media only screen and (max-width: 768px)
    .modular-system
        #modular-intro
            .inner
                width 90%
                .body
                    float none
                    width 100%
                .image
                    float none
                    height auto
                    margin-bottom 50px
                    width 100%
                    height 60vw
        #modular-transform
            .inner
                width 100%
                .grid
                    .block
                        width 50%
                        margin-right 0px !important
                        pointer-events none
                        .legend
                            font-size 19px
                            margin-top 22px
                            text-align center
         #modular-simulator
            .body
                font-size 70px
                letter-spacing -1px