doctype
html
    include includes/head.pug
    body
        include includes/header.pug
        #wraper.about.withTitle
            .section#home-home
                .title About us
                .inner
                    p 
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate imperdiet urna, sit amet finibus mi aliquet vel. 
                        | Aliquam bibendum commodo lorem. Maecenas ut massa leo. Praesent metus nulla, ornare nec tincidunt tincidunt, porttitor sit amet mi. 
                        | Aliquam tristique justo id ipsum mollis malesuada. Nulla pharetra cursus ante, laoreet tempus ipsum. Duis vel consectetur dolor. 
                        | Quisque in dolor at nunc ultricies lobortis. Aenean accumsan ultricies eros et interdum. Vivamus fermentum vulputate diam sed viverra. Aenean eu nulla odio.

                    p
                        | Aenean et gravida tellus. Nulla ut lacus eu massa aliquam varius ut eu justo. Maecenas sed nisi sed nulla finibus luctus. 
                        | Sed vehicula accumsan neque, nec sollicitudin purus molestie vitae. Curabitur condimentum magna ut nisl convallis feugiat eget id massa. Sed ac viverra tellus. 
                        | Etiam vitae luctus purus, et hendrerit ligula. Donec quam ligula, mattis efficitur lacus et, hendrerit pretium nulla. 
                        | Duis lacinia nibh sit amet ante semper, id tempus nunc blandit. Phasellus quis urna eu elit sagittis consectetur. 
                        | Vivamus vulputate elit lectus. Etiam odio mauris, fermentum nec dictum ac, interdum id erat. Praesent elit mi, tincidunt eu sem eget, fringilla pharetra nulla. 
                        | Fusce consequat diam justo, a interdum leo hendrerit eu. Donec nec metus iaculis, mollis orci ac, dapibus arcu. Aliquam purus diam, tempor vel accumsan id, finibus et eros.
    include includes/footer.pug
    script.
        var fileId = '1rOVWfVmVXCjvehbtmrCUUi8mjYftML9Zjy0K1xLeCbM'
        console.log(fileId)
    script( src = '../js/main.js' )