doctype
html
    include includes/head.pug
    body
        include includes/header.pug

        #wraper.home
            .section#home-home
            .section#home-evolving
                .inner
                    .body
                        | INDIANA EVOLVING
                        | FURNITURE Is a #[span.greenColor MODULAR ]
                        | #[span.greenColor SYSTEM ] LOREM IPSUM
                        | All SPACes #[span.blueColor LIVInG ROOM ]
                        | #[span.redColor BedROOM ] #[span.greenColor OffICE ]
                        | AND #[span.blueColor RETAIL PURPOSES ]
                        | LEARN HOW TO MAKE
                        | YOUR OWN INDIANA
                        | WITH OUR #[span.redColor SIMULaTOR ]
            .section#home-modular
            .section#home-collections
            .section#home-simulator

        include includes/footer.pug
        script( src = '../js/home.js' )