doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Indiana - evolving furniture
    link(rel='stylesheet', id='mainStylesheet' href='../css/main.styl')
  body
    #wrapper
      .section#home
        .inner
          #header
            #title
            #share
              .sharebut.instagram
              .sharebut.facebook
          #threeLayer
        
      .section#about
        .inner
          .body
            | INDIANA EVOLVING #[br]
            | FURNITURE Is a #[span(style='color: #4a8e55') MODULAR ] #[br]
            | #[span(style='color: #4a8e55') SYSTEM ] LOREM IPSUM #[br]
            | All SPACes #[span(style='color: #8bc0d6') LIVInG ROOM ] #[br]
            | #[span(style='color: #c6492e') BedROOM ] #[span(style='color: #4a8e55') OffICE ] #[br]
            | AND #[span(style='color: #8bc0d6') RETAIL PURPOSES ] #[br]
            | LEARN HOW TO MAKE #[br]
            | YOUR OWN INDIANA #[br]
            | WITH OUR #[span(style='color: #c6492e') SIMULaTOR ]
      .section#modularSystems
        .inner
          .title Modular System
          .body
            | Modular System mus eventio enimodiones nimus volo milles ipsam nonseque sitatur molectem id eumquodi si dolorest, 
            | namendis eveniet quam, occatem quacium facescide nis aut ipit, untia simen ssimpe ribus. tusciist, eatempore velestinti omnimpelles dolorecus.
            | Quis denistr uptaercium facescide nis aut ipit, untia simen ssimpe ribus. Tatus estiandam, nonsequis molorio. Omnihici oditiant as debis 
            | est acepre offictestia. Acium facescide nis aut ipit, untia simen ssimpe ribus. tusciist, eatempore velestinti omniorulorest.
          .image
      .section#footer
        .inner
          .col
            .topLevel INFORMATION
            ul
              li About Us
              li Press Enquiries
              li Privacy Policy
              li Terms &amp; Conditions
              li Cookies
          .col
            .topLevel FOLLOW US
            ul
              li Instagram
              li Facebook
          .col.newsletter
            .topLevel SIGN UP FOR OUR NEWSLETTER
            input( type = "text", placeholder = "Name and Surname" )
            input( type = "text", placeholder = "Business" )
            input( type = "text", placeholder = "Email" )
            span.checkbox 
            span.terms I accept terms and conditions
            .sendBut
    ul#menu
      li Modular System
      li About us
    script(src='../js/main.js')
