doctype
html
    include includes/head.pug
    body
        include includes/header.pug

        #wraper.home
            .section#home-home
                #homeSlideShow.jsmodule(data-classname = "ThreeSlideShow")
            .section#home-evolving
                .inner
                    .body
                        | INDIANA IS A #[span.greenColor MODULAR SYSTEM ],
                        | EVOLVING FURNITURE CAPABLE FOR ALL SPACES. 
                        | #[span.blueColor LIVING ROOM ], #[span.redColor BEDROOM ],
                        | #[span.greenColor OffICE ] AND #[span.blueColor RETAIL PURPOSES. ]
                        | LEARN HOW TO MAKE YOUR OWN INDIANA
                        | WITH OUR #[span.redColor SIMULATOR ]
            .section#home-modular
                .title Modular System
                .inner
                    .image
                    .body.clearfix
                        p
                            | Customize Indiana online : follow your guts to select every part of your new match.
                            | Every piece of this furniture is handcrafted with beautiful Colombian wood and metallic complements
                            | made in Spain, combining traditionial manufacturing with modern design.
                        p
                            | Enjoy the verstaile piece at home or office: Indiana is a timeless solution. Need a change?
                            | Change your perspective! This is furniture for keeping : transform your piece in a new one by varying its
                            | position or by adding new elements.
            .section#home-collections
                .title Collections
                .inner
                    .carousel.jsmodule(data-classname = "Carousel")
                        img( src="../assets/modularSystems.jpg" )
                        img( src="../assets/modularSystems.jpg" )
                        img( src="../assets/modularSystems.jpg" )
                        img( src="../assets/modularSystems.jpg" )
                        img( src="../assets/modularSystems.jpg" )
            .section#home-simulator
                .title Build your indiana
                .inner
                    .body
                        | SIMULATOR
        include includes/footer.pug
        script( src = '../js/main.js' )