doctype
html
    include includes/head.pug
    body
        include includes/header.pug

        #wraper.home
            .section#home-home
                #homeSlideShow.jsmodule(data-classname = "ThreeSlideShow")
            .section#home-evolving
                .inner
                    .body
                        | INDIANA IS A #[span.greenColor MODULAR SYSTEM ],
                        | EVOLVING FURNITURE CAPABLE FOR ALL SPACES. 
                        | #[span.blueColor LIVING ROOM ], #[span.redColor BEDROOM ],
                        | #[span.greenColor OffICE ] AND #[span.blueColor RETAIL PURPOSES. ]
                        | LEARN HOW TO MAKE YOUR OWN INDIANA
                        | WITH OUR #[span.redColor SIMULATOR ]
            .section#home-modular
                .title Modular System
                .inner.clearfix
                    .image
                    .body.clearfix
                        p
                            | Modular System mus eventio enimodiones nimus volo milles ipsam nonseque sitatur
                            | molectem id eumquodi si dolorest, namendis eveniet quam, occatem quacium facescide 
                            | nis aut ipit, untia simen ssimpe ribus. tusciist, eatempore velestinti omnimpelles dolorecus.
                        p
                            | Quis denistr uptaercium facescide nis aut ipit, untia simen ssimpe ribus. Tatus estiandam, 
                            | nonsequis molorio. Omnihici oditiant as debis est acepre offictestia. Acium facescide nis
                            | aut ipit, untia simen ssimpe ribus. tusciist, eatempore velestinti omniorulorest.
            .section#home-collections
                .title Collection
                .inner
                    .carousel.jsmodule(data-classname = "Carousel")
                        img( src="../assets/new/_82A0987.jpg" )
                        img( src="../assets/new/_82A0808.jpg" )
                        img( src="../assets/new/Sideboard-B-4.2-P--FB.jpg" )
                        img( src="../assets/new/_82A0987.jpg" )
                        img( src="../assets/new/Sideboard-B-4.2-P--FB.jpg" )
                        img( src="../assets/new/_82A0987.jpg" )
                        img( src="../assets/new/_82A0808.jpg" )
                        img( src="../assets/new/Sideboard-B-4.2-P--FB.jpg" )
            .section#home-simulator
                .inner
                    .body
                        | SIMULATOR
        include includes/footer.pug
        script( src = '../js/main.js' )