doctype
html
    include includes/head.pug
    body
        include includes/header.pug

        #wraper.modular-system.withTitle
            .section#modular-intro
                .title Modular System
                .inner.clearfix
                    .image
                    .body.clearfix
                        p
                            | Modular System mus eventio enimodiones nimus volo milles ipsam nonseque sitatur
                            | molectem id eumquodi si dolorest, namendis eveniet quam, occatem quacium facescide 
                            | nis aut ipit, untia simen ssimpe ribus. tusciist, eatempore velestinti omnimpelles dolorecus.
                        p
                            | Quis denistr uptaercium facescide nis aut ipit, untia simen ssimpe ribus. Tatus estiandam, 
                            | nonsequis molorio. Omnihici oditiant as debis est acepre offictestia. Acium facescide nis
                            | aut ipit, untia simen ssimpe ribus. tusciist, eatempore velestinti omniorulorest.
            .section#modular-transform
                .title Tranform your piece
                .inner
                    .grid.clearfix
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Bedside-table-A-1.1-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Bedside table #[br]
                                | A 1.1 L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Bedside-table-A-1.2-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Bedside table #[br]
                                | A 1.2 L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Bedside-table-B-1.1-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Bedside Table #[br]
                                | B 1.1 L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Bedside-table-C-1.1-hanged-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Bedside Table #[br]
                                | C 1.1 hanged L
                        //- .block
                        //-     .imgContainer( style="background-image: url(../assets/new/Bench-&-magazine-rack.jpg)" )
                        //-         .count
                        //-             | 1 x WBOX 1x1#[br]
                        //-             | 1 x Unit MBOX Drawer#[br]
                        //-             | 1 x Bottom#[br]
                        //-             | 1 x Top#[br]
                        //-     p.legend
                        //-         | Bench &amp; magazine rack #[br]
                        //-         | A 3.1 L
                        //- .block
                        //-     .imgContainer( style="background-image: url(../assets/new/Bench-&shoe-drawer-A-3.1-L-abierto.jpg)" )
                        //-         .count
                        //-             | 1 x WBOX 1x1#[br]
                        //-             | 1 x Unit MBOX Drawer#[br]
                        //-             | 1 x Bottom#[br]
                        //-             | 1 x Top#[br]
                        //-     p.legend
                        //-         | Bench &amp; shoe drawer #[br]
                        //-         | A 3.1 L Open
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Chest-of-drawers-A-2.3-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Chest of drawers #[br]
                                | A 2.3L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Chest-of-drawers-A-3.2-L-abierto.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Chest of drawers #[br]
                                | A 3.2 L Open
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Cocktail-cabinet-A-3.3-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cocktail cabinet #[br]
                                | A 3.3 L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Coffe-table-A-3.2-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Coffee table #[br]
                                | A 3.2 L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Console-A-2.2-cajon-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Console #[br]
                                | A 2.2 cajon L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Console-A-3.2-abierto-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Console #[br]
                                | A 3.2  abierto L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Chest-of-drawers-A-3.2-L-abierto.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Console #[br]
                                | B 3.2 L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Console-B-3.2-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3 L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Cupboard--A-3.3-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 4.3 L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Cupboard--A-4.3-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.4 L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Cupboard--B-3.4-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Console #[br]
                                | B 3.2 L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Bedside-table-A-1.1-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Bedside table #[br]
                                | A 1.1 L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Bedside-table-A-1.2-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Bedside table #[br]
                                | A 1.2 L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Bedside-table-B-1.1-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Bedside Table #[br]
                                | B 1.1 L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Bedside-table-C-1.1-hanged-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Bedside Table #[br]
                                | C 1.1 hanged L
                        .block
                            .imgContainer( style="background-image: url(../assets/new/Chest-of-drawers-A-2.3-L.jpg)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Chest of drawers #[br]
                                | A 2.3L
                        

            .section#modular-simulator
                .inner
                    .body
                        | SIMULATOR

        include includes/footer.pug
        script( src = '../js/main.js' )