doctype
html
    include includes/head.pug
    body
        include includes/header.pug

        #wraper.modular-system.withTitle
            .section#modular-intro
                .title Modular System
                .inner
                    .image
                    .body.clearfix
                        p
                            | Customize Indiana online : follow your guts to select every part of your new match.
                            | Every piece of this furniture is handcrafted with beautiful Colombian wood and metallic complements
                            | made in Spain, combining traditionial manufacturing with modern design.
                        p
                            | Enjoy the verstaile piece at home or office: Indiana is a timeless solution. Need a change?
                            | Change your perspective! This is furniture for keeping : transform your piece in a new one by varying its
                            | position or by adding new elements.
            .section#modular-transform
                .title Tranform your piece
                .inner
                    .grid.clearfix
                        .block
                            .imgContainer( style="background-image: url(../assets/moble.png)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3L
                        .block
                            .imgContainer( style="background-image: url(../assets/moble.png)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3L
                        .block
                            .imgContainer( style="background-image: url(../assets/moble.png)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3L
                        .block
                            .imgContainer( style="background-image: url(../assets/moble.png)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3L
                        .block
                            .imgContainer( style="background-image: url(../assets/moble.png)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3L
                        .block
                            .imgContainer( style="background-image: url(../assets/moble.png)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3L
                        .block
                            .imgContainer( style="background-image: url(../assets/moble.png)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3L
                        .block
                            .imgContainer( style="background-image: url(../assets/moble.png)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3L
                        .block
                            .imgContainer( style="background-image: url(../assets/moble.png)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3L
                        .block
                            .imgContainer( style="background-image: url(../assets/moble.png)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3L
                        .block
                            .imgContainer( style="background-image: url(../assets/moble.png)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3L
                        .block
                            .imgContainer( style="background-image: url(../assets/moble.png)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3L
                        .block
                            .imgContainer( style="background-image: url(../assets/moble.png)" )
                                .count
                                    | 1 x WBOX 1x1#[br]
                                    | 1 x Unit MBOX Drawer#[br]
                                    | 1 x Bottom#[br]
                                    | 1 x Top#[br]
                            p.legend
                                | Cupboard #[br]
                                | A 3.3L
                        
            .section#modular-simulator
                .title Build your indiana
                .inner
                    .body
                        | SIMULATOR

        include includes/footer.pug
        script( src = '../js/main.js' )