doctype
html
    include includes/head.pug
    body
        include includes/header.pug

        #wraper.modular-system
            .section#modular-intro
            .section#modular-transform
            .section#modular-simulator

        include includes/footer.pug
        script( src = '../js/home.js' )
//- doctype
//- html
//-   head
//-     meta(charset='utf-8')
//-     meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
//-     meta(http-equiv='X-UA-Compatible', content='IE=edge')
//-     meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
//-     title Indiana - evolving furniture
//-     link(rel='stylesheet', id='mainStylesheet' href='../css/main.styl')
//-   body
//-     #wrapper
//-       .section
//-         div.title Modular System
//-         .content.tcol
//-           .col
//-             p 
//-               | Customize Indiana online: follow your guts to select every part of your new match. 
//-               | Every piece of furniture is handcrafted with beautiful Colombian wood and metallic complements made in Spain,
//-               | combining traditional manufacturing with modern design.
//-             p
//-               | Enjoy the versatile piece at home or office: Indiana is a timeless solution. Need a change?
//-               | Change your perspective! This is furniture for keeping: transform your piece in a new one by varying its position or by adding new elements.

//-           .col
//-             img( src="../assets/modularSystems.jpg" )
//-       .section.clearfix( style="background:#dedede")
//-         div.title Transform your piece
//-         div.grid
//-           .block
//-             .imgContainer
//-               img( src="../assets/moble.png" )
//-             .legend
//-               | Cupboard #[br]
//-               | A 3.3L
//-           .block
//-             .imgContainer
//-               img( src="../assets/moble.png" )
//-             .legend
//-               | Cupboard #[br]
//-               | A 3.3L
//-           .block
//-             .imgContainer
//-               img( src="../assets/moble.png" )
//-             .legend
//-               | Cupboard #[br]
//-               | A 3.3L
//-           .block
//-             .imgContainer
//-               img( src="../assets/moble.png" )
//-             .legend
//-               | Cupboard #[br]
//-               | A 3.3L
//-           .block
//-             .imgContainer
//-               img( src="../assets/moble.png" )
//-             .legend
//-               | Cupboard #[br]
//-               | A 3.3L
//-           .block
//-             .imgContainer
//-               img( src="../assets/moble.png" )
//-             .legend
//-               | Cupboard #[br]
//-               | A 3.3L
//-           .block
//-             .imgContainer
//-               img( src="../assets/moble.png" )
//-             .legend
//-               | Cupboard #[br]
//-               | A 3.3L
//-           .block
//-             .imgContainer
//-               img( src="../assets/moble.png" )
//-             .legend
//-               | Cupboard #[br]
//-               | A 3.3L
//-           .block
//-             .imgContainer
//-               img( src="../assets/moble.png" )
//-             .legend
//-               | Cupboard #[br]
//-               | A 3.3L
//-           .block
//-             .imgContainer
//-               img( src="../assets/moble.png" )
//-             .legend
//-               | Cupboard #[br]
//-               | A 3.3L
//-           .block
//-             .imgContainer
//-               img( src="../assets/moble.png" )
//-             .legend
//-               | Cupboard #[br]
//-               | A 3.3L
//-           .block
//-             .imgContainer
//-               img( src="../assets/moble.png" )
//-             .legend
//-               | Cupboard #[br]
//-               | A 3.3L
//-           .block
//-             .imgContainer
//-               img( src="../assets/moble.png" )
//-             .legend
//-               | Cupboard #[br]
//-               | A 3.3L
//-       .section.greenColor
//-         div.title Build your Indiana