doctype
html
    include includes/head.pug
    body
        include includes/header.pug
        
        #wraper.simulator
            #threeLayer
            #items Items
            #menu
                .block
                    a( href='javascript:void(0)').title Structure (mbox)
                    .collapsible
                        .inner
                            .info
                                | Mod info
                            .options.clearfix
                                a.mod( href='javascript:void(0)', data-mod='m11', data-type='mbox', data-size='1x1') 1x1
                                a.mod( href='javascript:void(0)', data-mod='m21', data-type='mbox', data-size='2x1') 2x1
                                a.mod( href='javascript:void(0)', data-mod='m31', data-type='mbox', data-size='3x1') 3x1
                                a.mod( href='javascript:void(0)', data-mod='m12', data-type='mbox', data-size='1x2') 1x2
                                a.mod( href='javascript:void(0)', data-mod='m22', data-type='mbox', data-size='2x2') 2x2
                                a.mod( href='javascript:void(0)', data-mod='m23', data-type='mbox', data-size='2x3') 2x3
                                a.mod( href='javascript:void(0)', data-mod='m32', data-type='mbox', data-size='3x2') 3x2
                                a.mod( href='javascript:void(0)', data-mod='m13', data-type='mbox', data-size='1x3') 1x3
                                a.mod( href='javascript:void(0)', data-mod='m23', data-type='mbox', data-size='2x3') 2x3
                                a.mod( href='javascript:void(0)', data-mod='m33', data-type='mbox', data-size='3x3') 3x3
                .block
                    a( href='javascript:void(0)').title Z-box
                    .collapsible
                        .inner
                            .info
                                | Mod info
                            .options.clearfix
                                a.mod( href='javascript:void(0)', data-mod='z11', data-type='zbox', data-size='1x1') 1x1
                                a.mod( href='javascript:void(0)', data-mod='z21', data-type='zbox', data-size='2x1') 2x1
                                a.mod( href='javascript:void(0)', data-mod='z31', data-type='zbox', data-size='3x1') 3x1
                                a.mod( href='javascript:void(0)', data-mod='z12', data-type='zbox', data-size='1x2') 1x2
                                a.mod( href='javascript:void(0)', data-mod='z22', data-type='zbox', data-size='2x2') 2x2
                                a.mod( href='javascript:void(0)', data-mod='z23', data-type='zbox', data-size='2x3') 2x3
                                a.mod( href='javascript:void(0)', data-mod='z32', data-type='zbox', data-size='3x2') 3x2
                                a.mod( href='javascript:void(0)', data-mod='z13', data-type='zbox', data-size='1x3') 1x3
                                a.mod( href='javascript:void(0)', data-mod='z23', data-type='zbox', data-size='2x3') 2x3
                                a.mod( href='javascript:void(0)', data-mod='z33', data-type='zbox', data-size='3x3') 3x3
                .block
                    a( href='javascript:void(0)').title Base
                    .collapsible
                        .inner
                            .info
                                | Mod info
                            .options.clearfix
                                a.mod( href='javascript:void(0)', data-mod='b11', data-type='base', data-size='1x1') 1x1
                                a.mod( href='javascript:void(0)', data-mod='b12', data-type='base', data-size='2x1') 2x1
                                a.mod( href='javascript:void(0)', data-mod='b13', data-type='base', data-size='3x1') 3x1
                .block
                    a( href='javascript:void(0)').title Front / back covers
                    .collapsible
                        .inner
                            .info
                                | Mod info
                            .options.clearfix
                                a.mod( href='javascript:void(0)', data-mod='f11', data-type='cover', data-size='1x1') 1x1
                                a.mod( href='javascript:void(0)', data-mod='f21', data-type='cover', data-size='2x1') 2x1
                                a.mod( href='javascript:void(0)', data-mod='f31', data-type='cover', data-size='3x1') 3x1
                                a.mod( href='javascript:void(0)', data-mod='f12', data-type='cover', data-size='1x2') 1x2
                                a.mod( href='javascript:void(0)', data-mod='f22', data-type='cover', data-size='2x2') 2x2
                                a.mod( href='javascript:void(0)', data-mod='f23', data-type='cover', data-size='2x3') 2x3
                                a.mod( href='javascript:void(0)', data-mod='f32', data-type='cover', data-size='3x2') 3x2
                                a.mod( href='javascript:void(0)', data-mod='f13', data-type='cover', data-size='1x3') 1x3
                                a.mod( href='javascript:void(0)', data-mod='f23', data-type='cover', data-size='2x3') 2x3
                                a.mod( href='javascript:void(0)', data-mod='f33', data-type='cover', data-size='3x3') 3x3
                .block
                    a( href='javascript:void(0)').title Side cover
                    .collapsible
                        .inner
                            .info
                                | Mod info
                            .options.clearfix
                                a.mod( href='javascript:void(0)', data-mod='l11', data-type='side', data-size='1x1') 1x1
                                a.mod( href='javascript:void(0)', data-mod='l12', data-type='side', data-size='2x1') 2x1
                                a.mod( href='javascript:void(0)', data-mod='l13', data-type='side', data-size='3x1') 3x1
                .block
                    a( href='javascript:void(0)').title Shelfs
                    .collapsible
                        .inner
                            .info
                                | Mod info
                            .options.clearfix
                                a.mod( href='javascript:void(0)', data-mod='s11', data-type='shelf', data-size='1x1') 1x1
                                a.mod( href='javascript:void(0)', data-mod='s12', data-type='shelf', data-size='2x1') 2x1
                                a.mod( href='javascript:void(0)', data-mod='s13', data-type='shelf', data-size='3x1') 3x1
                .block
                    a( href='javascript:void(0)').title Drawers
                    .collapsible
                        .inner
                            .info
                                | Mod info
                            .options.clearfix
                                a.mod( href='javascript:void(0)', data-mod='d11', data-type='drawer', data-size='1x1') 1x1
                                a.mod( href='javascript:void(0)', data-mod='d21', data-type='drawer', data-size='2x1') 2x1
                                a.mod( href='javascript:void(0)', data-mod='d31', data-type='drawer', data-size='3x1') 3x1
                                a.mod( href='javascript:void(0)', data-mod='d22', data-type='drawer', data-size='2x2') 2x2
                .block
                    a( href='javascript:void(0)').title Pillows
                    .collapsible
                        .inner
                            .info
                                | Mod info
                            .options.clearfix
                                a.mod( href='javascript:void(0)', data-mod='s11', data-type='pillow', data-size='1x1') 1x1
                                a.mod( href='javascript:void(0)', data-mod='s12', data-type='pillow', data-size='2x1') 2x1
                                a.mod( href='javascript:void(0)', data-mod='s13', data-type='pillow', data-size='3x1') 3x1
            #colorSwap.rounded Color
            #zoom
                #plusZoom.rounded +
                #minusZoom.rounded -
        
        include includes/footer.pug
        script( src = '../js/simulator.js' )
        script( src = '../js/main.js' )